/* Color Pallet Source: https://colorhunt.co/palette/17153b2e236c433d8bc8acd6 */

.dark-bg{
        background-color: #17153B;
}

.light-bg{
        background-color: #C8ACD5;
}

.light-bg-two{
        background-color: #433D8B;
}

.light-text{
        color: #C8ACD6;
}

.dark-text{
        color: #17153B;
}