.primary-bg{
  background-color: #ffffff;
}

.secondary-bg{
  background-color: #dddddd;
}

.tertiary-bg{
  background-color: #333333;
}

.on-primary{
  color: #000000;
}

.on-secondary{
  color: #000000;
}

.on-tertiary{
  color: #ffffff;
}